{% extends 'flatpages/default.html' %}

{%block content%}

<h1>
    My cart
  </h1>
  {% if products %}
    <table>
      <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Tags</td>
        <td>Quantity</td>
        <td>Link</td>
      </tr>
      {% for i in products %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.description|truncatechars:10 }}</td>
        <td>{{ i.tags|truncatewords:3 }}</td>
        <td>{{ i.quantity }}</td>
        <td><a href="{% url 'remove_from_cart' i.pk %}">Remove from cart</a></td>
      </tr>
      {% endfor %}

    </table>
  {% else %}
    <p>
      No products
    </p>
  {% endif %}

{%endblock content%}